<!DOCTYPE html>
<html>
<head>
    <title>Stripe Payment Demo</title>
</head>
<body>
    <h3>Buy Shirt Just in Rs <%= amount %></h3>
    <form action="payment" method="POST">
        <input type="hidden" name="amount" value="<%= parseInt(amount)*100 %>">
        <input type="hidden" name="productName" value="Shocks">
        <script
            src="//checkout.stripe.com/v2/checkout.js"
            class="stripe-button"
            data-key="<%= key %>"
            data-amount="<%= parseInt(amount)*100 %>"
            data-currency="usd"
            data-name="Shirt"
            data-description="Cotton Shirt Products"
            data-locale="auto">
        </script>
    </form>
    <h2>or go to this  link</h2>
    <a href="https://buy.stripe.com/test_5kAaGTern8WN8ggbIJ">pay here</a>
</body>
</html>
